extends layout/page
block content
    button(id='createGame') Create game
    p(class='status')

    div(class="row")
        div(class="col-sm-6")
            h2 Game list
            ul(class='gameList')
        div(class="col-sm-6")
            h2 My games
            ul(id='myGameList')

    div(id='item-template' class="hide")
        div(id="list-item" class="game-item row")
            div(class='col-sm-6')
                p(class='user-field') user:
                p(class='id-field') id:
            div(class='col-sm-6')
                button(class='join-button') Join
        div(id="my-list-item" class="game-item row")
            div(class='col-sm-6')
                a(href='gamePage?id=') id:

    script.
        var list = $('.gameList');
        var myList = $('#myGameList');
        var template = $('#item-template');
        var logEl = $('.status');

        $('#createGame').click(createGame);

        subscribe();

        function createItem(username, id) {
            var item = template.find('div#list-item').clone();
            var idField = item.find('.id-field');
            var userField = item.find('.user-field');
            var joinButton = item.find('.join-button');

            idField.text(idField.text() + id);
            userField.text(userField.text() + username);
            joinButton.click(joinGame.bind(undefined, id));

            return item;
        }
        function createMyItem(id) {
            var item = template.find('div#my-list-item').clone();
            var a = item.find('a');
            a.text(a.text() + id);
            a.attr('href', a.attr('href')+id);
            return item;
        }

        function subscribe() {
            $.get(window.location.pathname + "/list", function (data) {
                updateList(data);
                setTimeout(subscribe, 500);
            });
        }

        function createGame(){
            $.post(window.location.pathname + "/createGame")
                .done(function () {
                    logger.info("Game created");
                })
                .fail(function (error) {
                    logger.error(error.responseText);
                });
        }

        function joinGame(id) {
            $.post(window.location.pathname + "/joinGame", {gameId: id})
                .done(function(){
                    logger.info("You're in game " + id);
                })
                .fail(function (error) {
                    logger.error(error.responseText);
                });
        }

        function updateList(games) {

            var i, gameId;

            list.empty();
            for(i = 0; i < games.all.length; i++){
                gameId = games.all[i].gameId;
                var username = games.all[i].username;

                createItem(username, gameId).appendTo(list);
            }

            myList.empty();
            for (i = 0; i < games.my.length; i++) {
                gameId = games.my[i].gameId;

                createMyItem(gameId).appendTo(myList);
            }
        }

        var logger = (function(){
            var timeoutId = null;
            var msToShadow = 5000;

            var el = logEl;

            function clear() {
                el.empty();
                timeoutId = null;
            }

            function log(type, msg) {
                switch(type) {
                    case "info":
                        el.css("background-color", "green");
                        break;
                    case "error":
                        el.css("background-color", "red");
                        break;
                    default :
                        el.css("background-color", "white");
                }
                el.text(msg);

                if(timeoutId)
                    clearTimeout(timeoutId);

                timeoutId = setTimeout(clear, msToShadow);
            }
            return {
                info: log.bind(undefined, "info"),
                error: log.bind(undefined, "error")
            };
        })();




