extends layout/page
block content
    button(id='createGame') Create game

    div(class="row")
        div(class="col-md-6")
            h2 Game list
                ul(id='gameList')
        div(class="col-md-6")
            h2 My games
                ul(id='myGameList')

    script.
        var list = $('#gameList');
        var myList = $('#myGameList');

        $('#createGame').click(createGame);

        subscribe();
        function subscribe() {
            $.get(window.location.pathname + "/list", function (data) {
                updateList(data);
                setTimeout(subscribe, 500);
            });
        }

        function createGame(){
            $.post(window.location.pathname + "/createGame");
        }

        function joinGame(id) {
            $.post(window.location.pathname + "/joinGame", {gameId: id});
        }

        function updateList(games) {
            list.empty();
            for(var i = 0; i < games.all.length; i++){
                var gameId = games.all[i].gameId;
                var username = games.all[i].username;
                var li = $('<li></li>');

                $('<div></div>').attr('href', 'gamePage?id=' + gameId)
                        .append($('<p></p>').text('user: ' + username))
                        .append($('<p></p>').text('id: ' + gameId))
                        .append($("<button></button>")
                                .text("Join")
                                .click(joinGame.bind(undefined, gameId)))
                        .appendTo(li);


                li.appendTo(list);
            }

            myList.empty();
            for (var i = 0; i < games.my.length; i++) {
                var gameId = games.my[i].gameId;

                var li = $('<li></li>');

                $('<a></a>').attr('href', 'gamePage?id=' + gameId)
                        .append($('<p></p>').text('id: ' + gameId))
                        .appendTo(li);


                li.appendTo(myList);
            }
        }


