extends layout/page
block content
    button(id='createGame') Create game

    h2 Game list
        ul(id='gameList')
    h2 My games
        ul(id='myGamesList')

    script.
        var list = $('#gameList');
        var myList = $('#myGamesList');
        var intervalId = null;

        $('#createGame').click(function(){
            socket.emit(Events.createGame, 5, 7);
        });


        var socket = io.connect('', {
            reconnect: true
        });
        socket
            .on('connect', function(){
                    console.log('connected');
                socket.emit(Events.gameList);
                intervalId = setInterval(function(){
                    socket.emit(Events.gameList);
                }, 500);
            })
            .on('disconnect', function(){
                    console.log('disconnected');
                clearInterval(intervalId);
                intervalId = null;
            })
            .on('error', function (err) {
                console.error(err);
            })
            .on(Events.gameList, function (newGameList) {
                list.empty();
                newGameList.keys.map(function(key){
                    var game = newGameList.elements[key];
                    var li = $('<li></li>');

                    $('<a></a>').attr('href', 'gamePage?id=' + game._id)
                            .append($('<p></p>').text('user: ' + game.players.keys[0]))
                            .append($('<p></p>').text('id: ' + game._id))
                            .appendTo(li);

                    li.appendTo(list);
                });
            })
            .on(Events.myGamesList, function (myGameList) {
                myList.empty();
                myGameList.keys.map(function(key){
                    var game = myGameList.elements[key];
                    var li = $('<li></li>');

                    var a = $('<a></a>')
                            .attr('href', 'gamePage?id=' + game._id)
                            .text(game._id);

                    a.appendTo(li);

                    li.appendTo(myList);
                });
            });
