extends layout/page
block content
    h1 Проверь слово!
    div( id="room")
        ul( class="list-unstyled")
        input( class="form-control" autocomplete="off" autofocus placeholder="Слово...")

    script.
        var room = $('#room');
        var input = room.find('input');

        var socket = io.connect('', {
            reconnect: true
        });

        input.on('input', function () {
            var text = input.val();
            socket.emit('checkWord', text, function () {
                console.log('sent ' + text);
            });
            return false;
        });

        socket.on('checkWord', function(exist){
            console.log('received ' + exist);

            input.css("background-color", exist == "true" ? "green" : "red");
        });