//
   Created by vasiliy.lomanov on 14.04.2015.

extends layout/page
block content
    div( id="area" style="position: relative;")
        div( class=" hex_act_nw hexagon ")
            span( class="shadowSpan")

    script.
        var area = $('#area');
        //area.css('top', 200);
        //area.css('left', 200);
