.style_status {
    position: absolute;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    width: 380px;
    background: #ccc;
    border: solid 1px black;
    float: left;
}

.area{
    width: auto;
    height: auto;
    position: relative;
}