.hex_active_empty {
    background-color: #21cc2c;
}
.hex_active_empty:hover {
    background-color: #fff800;
}

.hex_passive_empty {
    background-color: #14cc7d;
}

.hex_active_letter {
    background-color: #75afcc;
}

.hex_passive_letter {
    background-color: #1148cd;
}

.hex_new_letter .shadowSpan{
    color: white;
}

.hex_opponent_turn {
    background-color: #747474;

}

.hex_picked {
    background-color: #cc3d00;
}

.hex_frozen {
    background-color: #ede7ec;
}

.hex_send {
    background-color: #28cc2b;
}

.hex_not_send {
    background-color: #cc2422;
}