@border: 5px;
@a: 50px;
@borderColor: #333333;
@shadowSize: 20px;

.hex_main {
  position: absolute;
  width: sqrt(3)*@a;
  height: @a;
  align-content: center;

  border-left: solid @border @borderColor;
  border-right: solid @border @borderColor;

  box-shadow: 0 0 @shadowSize rgba(0,0,0,0.6);
}

.hex_main:before,
.hex_main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: @a*sqrt(3);
  height: @a*sqrt(3);

  left: -@border;

  transform: scaleY(1/sqrt(6)) scaleX(1/sqrt(2)) rotate(-45deg);

  background-color: inherit;


  box-shadow: 0 0 @shadowSize rgba(0,0,0,0.6);
}

.hex_main:before{
  top: -@a * sqrt(3)/2;
  border-top: solid @border*2 @borderColor;
  border-right: solid @border*2 @borderColor;
}
.hex_main:after{
  bottom: -@a * sqrt(3)/2;
  border-bottom: solid @border*2 @borderColor;
  border-left: solid @border*2 @borderColor;
}

.hex_main .shadowSpan {

  width: sqrt(3)*@a - @border*2;
  height: @a - 2*@border/sqrt(3);
  display: block;
  position: absolute;
  text-align: center;
  z-index: 2;
  background: inherit;

  top: @border/sqrt(3);
  left: 0;

  //left: @border;
}
.hex_main .fieldForLetter {
  margin: -10px 0;
  font-size: 40px;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bolder;
  z-index: 3;
}

.hex_main .fieldForPoints{
  margin: 0;
  font-size: 10px;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bolder;
  z-index: 3;
}