doctype html
html
  head
    title= title

    link( rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link( rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    link( rel="stylesheet" href="stylesheets/hexagon.css")
    link( rel="stylesheet" href="stylesheets/hex_types.css")
    link( rel="stylesheet" href="stylesheets/any_styles.css")
    link( rel="stylesheet" href="views/stats/stylesheet.css")

    script( src="/vendor/bower_components/jquery/dist/jquery.min.js")
    script( src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script( src="/vendor/bower_components/socket.io-client/socket.io.js")
  body
    section( class="container")
        include ../partials/topNavigation
        block content